@import 'variables';
.gioi-thieu {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h1 {
    color: $main-color;
}
#headermenu {
    height: 80px;
    background-color: $main-color;

    a {
        color: white;
    }
    .dropdown-menu {
        a:hover {
            color: green;
        }
    }
}
.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.card-crops-item {
    //margin-top: 20px;
    margin: 30px;
    width: auto;
    height: 90%;
    .btn-success {
        margin-bottom: 8px;
    }
    .card-img-wrap {
        overflow: hidden;
        position: relative;
        display: block;
    }
    .card-img-wrap:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .card-img-wrap:hover:after {
        opacity: 1;
    }
    .card-img-wrap:hover img {
        background-image: url(src);
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: scale(1.2);
        /* Safari & Google Chrome */
        -webkit-transform: scale(1.2);
        /* Mozilla Firefox */
        -moz-transform: scale(1.2);
        /* Opera */
        -o-transform: scale(1.2);
        /* IE 9 */
        -ms-transform: scale(1.2);
        cursor: pointer;
    }
    img {
        width: 100%;
        transition-duration: 0.5s;
        /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s;
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s;
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s;
    }
}
.down-footer {
    background-color: $main-color;
    height: 60px;
}
.up-footer {
    height: 150px;
    width: 100%;
    background-color: wheat;
}
.sign-in-option {
    .btn {
        color: $main-color;
        background-color: white;
        margin-left: 20px;
    }
    .btn:hover {
        background-color: green;
        color: white;
    }
}
#login-container {
    height: 500px;
    width: 100%;
    // background-color: $main-color;
    position: relative;
    margin-top: 50px;
    .input-group {
        width: 60%;
        margin-top: 40px;
        #basic-addon1 {
            background-color: $main-color;
            color: white;
            width: 130px;
        }
    }
    .btn-dang-nhap {
        background-color: $main-color;
        color: white;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 10px;
    }
    .btn-dang-nhap:hover {
        border-width: 2px;
        border-color: $main-color;
        background-color: white;
        color: $main-color;
    }
    .btn-dang-ky {
        background-color: white;
        color: $main-color;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 100px;
        border-width: 2px;
        border-color: $main-color;
    }
    .btn-dang-ky:hover {
        background-color: $main-color;
        color: white;
    }

    #goi-y-dang-ky {
        color: $main-color;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 60px;
        font-size: small;
    }
    #goi-y-dang-nhap {
        color: $main-color;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 150px;
        font-size: small;
    }
    hr {
        width: 30%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 180px;
    }
    .cac-phuong-thuc-login {
        height: 50px;
        width: 20%;
        //background-color: green;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 190px;
        a {
            color: $main-color;
            font-size: 50px;
            margin-left: 30px;
        }
    }
}
