@import 'variables';

h1 {
    color: $main-color;
}
#headermenu {
    height: 80px;
    background-color: $main-color;

    a {
        color: white;
    }
    .dropdown-menu {
        a:hover {
            color: green;
        }
    }
}
.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.card-crops-item {
    //margin-top: 20px;
    margin: 50px;
    width: auto;
}
