@import 'variables';
.gioi-thieu {
    font-size: 20px;
    color: black;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: $main-color;
    font-family: 'Times New Roman', Times, serif;
}
#headermenu {
    height: 80px;
    background-color: $main-color;

    a {
        color: white;
    }
    .dropdown-menu {
        a:hover {
            color: green;
        }
    }
}
.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.card-crops-item {
    //margin-top: 20px;
    margin: 30px;
    width: auto;
    height: 90%;
    .btn-success {
        margin-bottom: 8px;
    }
    .card-img-wrap {
        overflow: hidden;
        position: relative;
        display: block;
    }
    .card-img-wrap:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .card-img-wrap:hover:after {
        opacity: 1;
    }
    .card-img-wrap:hover img {
        background-image: url(src);
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: scale(1.2);
        /* Safari & Google Chrome */
        -webkit-transform: scale(1.2);
        /* Mozilla Firefox */
        -moz-transform: scale(1.2);
        /* Opera */
        -o-transform: scale(1.2);
        /* IE 9 */
        -ms-transform: scale(1.2);
        cursor: pointer;
    }
    img {
        width: 100%;
        transition-duration: 0.5s;
        /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s;
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s;
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s;
    }
}
.down-footer {
    background-color: $main-color;
    height: 60px;
    p {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: wheat;
        text-align: center;
    }
}
.up-footer {
    height: 250px;
    width: 100%;
    background-color: wheat;
}
.sign-in-option {
    .btn {
        color: $main-color;
        background-color: white;
        margin-left: 7px;
    }
    .btn:hover {
        background-color: green;
        color: white;
    }
}
#login-container {
    height: 60vh;
    width: 100%;
    // background-color: $main-color;
    position: relative;
    margin-top: 50px;
    .input-group {
        width: 60%;
        margin-top: 40px;
        #basic-addon1 {
            background-color: $main-color;
            color: white;
            width: 130px;
        }
    }
    .login-help {
        font-size: 15px;
        font-style: italic;
        margin-left: 350px;
    }
    .btn-dang-nhap {
        background-color: $main-color;
        color: white;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 10px;
    }
    .btn-dang-nhap:hover {
        border-width: 2px;
        border-color: $main-color;
        background-color: white;
        color: $main-color;
    }
    .btn-dang-ky {
        background-color: white;
        color: $main-color;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 100px;
        border-width: 2px;
        border-color: $main-color;
    }
    .btn-dang-ky:hover {
        background-color: $main-color;
        color: white;
    }

    #goi-y-dang-ky {
        color: $main-color;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 60px;
        font-size: small;
    }
    #goi-y-dang-nhap {
        color: $main-color;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 150px;
        font-size: small;
    }
    hr {
        width: 30%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 180px;
    }
    .cac-phuong-thuc-login {
        height: 50px;
        width: 20%;
        //background-color: green;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 190px;
        a {
            color: $main-color;
            font-size: 50px;
            margin-left: 30px;
        }
    }
}
.menu-head {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    a {
        margin-inline: 10px;
    }
}

#seed-all-page {
    //background-color: green;
    width: 80%;
    height: auto;
    position: relative;
    top: -300px;
    left: 15%;
    //margin-left:20%;
}
.card-seed-item {
    //margin-top: 20px;
    margin: 30px;
    width: auto;
    height: 300px;

    .btn-success {
        margin-bottom: 8px;
    }
    .card-img-wrap {
        overflow: hidden;
        position: relative;
        display: block;
    }
    .card-img-wrap:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .card-img-wrap:hover:after {
        opacity: 1;
    }
    .card-img-wrap:hover img {
        background-image: url(src);
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: scale(1.2);
        /* Safari & Google Chrome */
        -webkit-transform: scale(1.2);
        /* Mozilla Firefox */
        -moz-transform: scale(1.2);
        /* Opera */
        -o-transform: scale(1.2);
        /* IE 9 */
        -ms-transform: scale(1.2);
        cursor: pointer;
    }
    img {
        width: 100%;
        transition-duration: 0.5s;
        /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s;
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s;
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s;
    }
}
.col-sm-6 {
    margin-bottom: 30px;
}
#side-menu-crop {
    margin-top: 50px;
    a {
        text-decoration: none;
        display: block;
        height: 50px;
        text-align: center;
        border-style: solid;
        border-width: 2px;
        border-color: $main-color;
    }
    .selected-crop {
        background-color: $main-color;
        color: white;
    }
    .not-selected-crop {
        background-color: white;
        color: $main-color;
    }
    .not-selected-crop:hover {
        background-color: $main-color;
        color: white;
        border-color: white;
    }
}
#name-seed-detail {
    h1 {
        text-align: center;
        position: relative;
        margin-top: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.form-image-seed {
    position: relative;
    height: auto;
    margin-top: 50px;
    width: 80vw;
    left: calc(-50vw + 50%);
    left: 50%;
    transform: translate(-50%, 0);
    #source-detail {
        position: sticky;
        //left: -30%;
        // font-family: 'Times New Roman', Times, serif;
        // font-size: 18px;
        margin-top: 10px;
        display: inline-block;
    }
}
.form-detail-seed {
    position: relative;
    height: auto;
    margin-top: 50px;
    width: 80vw;
    left: calc(-50vw + 50%);
    left: 50%;
    transform: translate(-50%, 0);
    .row-5 {
        padding: 30px;
    }
}
.seed-detail {
    h3 {
        position: sticky;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }
}
#footer {
    h3,
    p {
        color: $main-color;
    }
    h2 {
        color: $main-color;
        font-size: 40px;
        margin-left: 30px;
    }
}
#back-to-top {
    background-color: $main-color;
    color: white;
    position: sticky;
    float: right;
    bottom: 40px;
    right: 40px;
    display: none;
    border-color: $main-color;
}
#register-container {
    height: 80vh;
    width: 100%;
    // background-color: $main-color;
    position: relative;
    margin-top: 50px;
    .input-group {
        width: 60%;
        margin-top: 40px;
        #basic-addon1 {
            background-color: $main-color;
            color: white;
            width: 130px;
        }
    }
    .btn-reg {
        background-color: white;
        display: block;
        color: $main-color;
        position: absolute;
        top: 450px;
        left: 50%;
        transform: translate(-50%, 0);
        border-width: 2px;
        border-color: $main-color;
    }
    .btn-reg:hover {
        background-color: $main-color;
        color: white;
    }

    #goi-y-dang-ky {
        color: $main-color;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 60px;
        font-size: small;
    }
    #goi-y-dang-nhap {
        color: $main-color;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 150px;
        font-size: small;
    }
    hr {
        width: 30%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 180px;
    }
    .cac-phuong-thuc-login {
        height: 50px;
        width: 20%;
        //background-color: green;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 190px;
        a {
            color: $main-color;
            font-size: 50px;
            margin-left: 30px;
        }
    }
    .reg-help {
        font-size: 15px;
        font-style: italic;
        margin-left: 350px;
    }
}
#stop-img {
    position: relative;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
}
#stop-mes {
    margin: 0;
    padding: 0;
    text-align: center;
}
.side-menu-admin {
    display: inline-block;
    margin-bottom: 100px;
    margin-left: -200px;
    margin-top: 140px;

    .card {
        border-color: $main-color;
        color: $main-color;
        border-width: 2px;
        width: 250px;
        margin-top: 10px;
    }
}
.admin-panel {
    width: 90%;
    height: 65vh;
    position: relative;
    left: 15%;
    top: -400px;
    z-index: 10;
    margin-bottom: 0;
    padding-bottom: 0;
    a {
        text-decoration: none;
    }
}
.admin-card {
    margin-left: 20%;
    margin-top: 20px;
    .card-img-wrap {
        overflow: hidden;
        position: relative;
        display: block;
    }
    .card-img-wrap:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .card-img-wrap:hover:after {
        opacity: 1;
    }
    .card-img-wrap:hover img {
        background-image: url(src);
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: scale(1.2);
        /* Safari & Google Chrome */
        -webkit-transform: scale(1.2);
        /* Mozilla Firefox */
        -moz-transform: scale(1.2);
        /* Opera */
        -o-transform: scale(1.2);
        /* IE 9 */
        -ms-transform: scale(1.2);
        cursor: pointer;
    }
    img {
        width: 100%;
        transition-duration: 0.5s;
        /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s;
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s;
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s;
    }
}
