<div class="container side-menu-admin">
    <div class="col">
        <div class="row">
            <div class="card">

                <div class="card-body">
                    Số lượng chủng loại cây: {{crop.length}}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">

                <div class="card-body">
                    Số lượng giống cây: {{seed.length}}
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    Tài khoản đã đăng ký: {{acc.length}}
                </div>

            </div>
        </div>
    </div>
</div>
<div class="admin-panel shadow">
    <div class="row row-cols-2">
        <div class="col">
            <div class="card shadow admin-card" style="width: 18rem;">
                <a href="/admin/crop" class="card-img-wrap">
                    <img src="/img/admin2.jpg" class="card-img-top" alt="...">
                </a>
                <a href="/admin/crop">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý chủng loại cây</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card shadow admin-card" style="width: 18rem;">
                <a href="/admin/seed" class="card-img-wrap">
                    <img src="/img/admin1.jpg" class="card-img-top" alt="...">
                </a>
                <a href="/admin/seed">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý giống cây</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">

            <div class="card shadow admin-card" style="width: 18rem;">
                <a href="/admin/account" class="card-img-wrap">
                    <img src="/img/admin4.jpg" class="card-img-top" alt="...">
                </a>
                <a href="/admin/account">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý tài khoản</h5>
                    </div>
                </a>
            </div>

        </div>
        <div class="col">
            <div class="card shadow admin-card" style="width: 18rem;">
                <a href="#" class="card-img-wrap">
                    <img src="/img/admin3.jpg" class="card-img-top" alt="...">
                </a>
                <a href="/admin/account">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý tin tức</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>