<div class="mt-4 shadow" style="height: 75vh; width:100%">
    <h1 id="stop-mes">Bạn không có quyền truy cập tới trang này !! Vui lòng quay lại</h1>
    <img src="/img/stop.jpg" class="img-fluid" alt="..." id="stop-img">

</div>