<div class="mt-8" style="margin-bottom: 150px;" style="height: auto;">
    <div class="container border shadow-lg" id="register-container">
        <form method="POST" action="/account/register">
            <div class="input-group mx-auto mb-3">
                <span class="input-group-text" id="basic-addon1">Tên đăng nhập</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" id="user" name="user">

            </div>
            <div class="reg-help">
                <p>{{help.userHelp}}</p>
            </div>
            <div class="input-group mx-auto mb-3">
                <span class="input-group-text" id="basic-addon1">Tên hiển thị</span>
                <input type="text" class="form-control" placeholder="Tên hiển thị của bạn" aria-label="Username"
                    aria-describedby="basic-addon1" id="display" name="display">

            </div>
            <div class="input-group mx-auto mb-3 ">
                <span class="input-group-text" id="basic-addon1">Mật khẩu</span>
                <input type="password" class="form-control" placeholder="Password" aria-label="Username"
                    aria-describedby="basic-addon1" id="password" name="password">
            </div>
            <div class="reg-help">
                <p>{{help.passHelp}}</p>
            </div>
            <div class="input-group mx-auto mb-3 ">
                <span class="input-group-text" id="basic-addon1">Nhập lại</span>
                <input type="password" class="form-control" placeholder="Nhập lại Password" aria-label="Username"
                    aria-describedby="basic-addon1" id="repassword" name="repassword">
            </div>
            <div class="reg-help">
                <p>{{help.repassHelp}}</p>
            </div>
            <div>
                <button type="submit" class="btn btn-light rounded-pill btn-reg">Đăng
                    ký</button>
            </div>
            <div style="margin-top: -30px;">
                <p id="goi-y-dang-nhap">Hoặc đăng ký bằng một trong những phương thức sau</p>
                <hr>
                <div class="cac-phuong-thuc-login">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>