h1 {
  color: #198754; }

#headermenu {
  height: 80px;
  background-color: #198754; }
  #headermenu a {
    color: white; }
  #headermenu .dropdown-menu a:hover {
    color: green; }

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%; }

.card-crops-item {
  margin: 50px;
  width: auto; }
