<footer style="margin-top: 150px;">
    <!-- Grid container -->
    <div class=" up-footer">


    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="down-footer">
        <img src="/img/logo.png" alt="" class="rounded mx-auto d-block">
    </div>
    <!-- Copyright -->
</footer>