<footer>
    <!-- Grid container -->
    <div class="up-footer" id="footer" style="display: inline-block;">
        <div class="row">
            <div class="col-4" style="font-family: 'Times New Roman', Times, serif;">
                <img src="/img/logo-green.png" alt="" class="rounded mx-auto d-block"
                    style="float:left; margin-left: 50px; margin-top:10px; width: 150px">
                <h3 style="margin-top: 10px; font-weight:bold; margin-left: 170px">Cây trồng</h3>
                <br>
                <p style="margin-left: 150px; font-size: 14px">Cây trồng là cây được thuần hoá, chọn lọc để trồng trọt, đưa vào sản xuất
                    nông
                    nghiệp. Cây trồng chiếm
                    một tỉ lệ rất nhỏ trong tổng số các loài cây trên Trái Đất. Cây trồng được thu hoạch hằng năm hay theo
                    vụ mùa, các sản phẩm này được dùng để làm thức ăn, cỏ khô(dùng cho gia súc), và cho nhiều những mục đích
                    kinh tế khác. Phát triển cây trồng cũng là một phần của nông nghiệp.</p>
            </div>
            <div class="col-4" style="font-family: 'Times New Roman', Times, serif;">
    
                <h3 style="margin-top: 10px; font-weight:bold; margin-left: 150px">Danh mục</h3>
                <br>
                <p style="margin-left: 150px;">
                    TRANG CHỦ <br>GIỚI THIỆU <br> GIỐNG CÂY <br>TIN TỨC <br> LIÊN HỆ
                </p>
                </div>
                <div class="col-4" style="font-family: 'Times New Roman', Times, serif;">
                    <h3 style="margin-top: 10px; font-weight:bold; "> Thông tin liên hệ</h3>
                    <h3 style=" display: inline-block;vertical-align: top;"><i class="fad fa-map-marked-alt"></i> </h3>
                    <p style=" display: inline-block; margin:10px">Học viện Nông nghiệp Việt Nam, tt Trâu Quỳ, Gia Lâm, Hà Nội</p>
                    <br>
                    <h3 style=" display: inline-block;vertical-align: top;"><i class="fad fa-phone-rotary"></i> </h3>
                    <p style=" display: inline-block; margin:10px">+84 392 3929 210</p>
                    <br>
                    <h3 style=" display: inline-block;vertical-align: top;"><i class="fad fa-envelope-open-text"></i> </h3>
                    <p style=" display: inline-block; margin:10px">quangtientls@gmail.com</p>
                    <br>
                    <div style="margin-left: 100px">
                        <h2 style=" display: inline-block;vertical-align: top;"><i class="fab fa-facebook"></i> </h2>
                        <h2 style=" display: inline-block;vertical-align: top;"><i class="fab fa-twitter"></i> </h2>
                        <h2 style=" display: inline-block;vertical-align: top;"><i class="fab fa-google-plus"></i> </h2>
                    </div>
                </div>
                </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="down-footer">
        <p>Copyright © 2021 TFarm. Make with <i class="fas fa-heart"></i> & <i class="fad fa-mug-hot"></i> in Trau Quy, Gia
            Lam, Ha Noi</p>
    </div>
    <!-- Copyright -->
</footer>