<nav class="navbar  navbar-expand-lg navbar-dark " id="headermenu">
  
    <div class="container-fluid">
      <a href="/"><img src="/img/logo.png" class="img-fluid" alt="Responsive image"></a>
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
          aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav ms-auto ">
              <ul class="navbar-nav menu-head">
                <li class="nav-item ">
                  <a class="nav-link active" aria-current="page" href="/">TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">GIỚI THIỆU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/seed/all">GIỐNG CÂY</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">TIN TỨC</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#footer">LIÊN HỆ</a>
                </li>
              </ul>
            <nav class="nav nav-pills nav-justified sign-in-option" id="sign-in-option">
              <a href="/account/register">
                <button type="button" class="btn btn-light rounded-pill btn-dang-ky">Đăng ký</button>
              </a>
              <a href="/account/login">
                <button type="button" class="btn btn-light rounded-pill btn-dang-nhap">Đăng nhập</button>
              </a>
            </nav>
            </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav ms-auto  user-panel " style="display:none" id="user-panel">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src={{session.User.img}} alt="" class="user-avatar">
                {{session.User.display}}
              </a>
              <ul class="dropdown-menu  bg-success">
                {{#if (eq session.User.key true)}}
                <li><a class="dropdown-item" href="/admin"><i class="far fa-tasks"></i> Quản lý website</a></li>
                {{/if}}
                <li><a class="dropdown-item" href="#"><i class="fad fa-user-cog"></i> Thay đổi thông tin</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/account/logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
</div>
</nav>
