<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome JS -->
    <link rel="stylesheet" type="text/css" href="\css\fontawesome-pro-5.15.1-web\css\all.css">
    {{!--
    <link rel="stylesheet" href="/css/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/fontawesome-free/css/all.min.css"> --}}
    <link rel="stylesheet" href="/css/app.css">
    
</head>
<body>
    <div class="app">
        {{>header}}
        <div class="container" style="margin-bottom: 50px; ">
            {{{body}}}
            
        </div>
        {{>footer}}
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="/js/jquery/dist/jquery.slim.js"></script>
</body>

</html>